<h2>
  Welcome!
</h2>

<%= form_tag sessions_path do %>
  <%= label_tag :name, "Username: " %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Login" %>
<% end %>

<h3>
  <%= link_to "Create a new account." %>
</h3>
