<h1> Sign up for our site </h1>
<br><br>
<% if flash.any? %>
<ul>
	<% flash.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<%= f.label :password %>
	<%= f.password_field :password %><br>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %><br>
	<%= f.submit %>
<% end %>
