<%= current_user.name %><br>
You've earned <%= current_user.points %> points!

<h3>History</h3>

<% if current_user.carts.where(status: false) %>

<% old_carts = current_user.carts.select { |cart| cart.status == false } %>
<% if old_carts.length == 0 %>
	You have no purchase history at this time! Get shoppin', NOW!
<% else %>
<ul>
	<% old_carts.each do  |cart|  %>
<li> Cart #<%= link_to cart.id, cart %> - Checked out on <%= cart.updated_at.strftime("%B %d, %Y") %> - Total Price <%= number_to_currency cart.total_price %> </li>
<% end %>
</ul>
<% end %>
<% end %>

<br><br>
<%= link_to "Back to #{current_user.name}'s page", user_path(current_user) %>