<link rel="stylesheet" type="text/css" href="users.scss" >
<div id="navbar" >
<%= link_to "Cart", current_active_cart %>  |  <%= link_to "Profile", "#{current_user.id}/profile"%>   |   <%= link_to "Logout", logout_path %>
</div>
<h1> Welcome! </h1>

<h2>
  Name: <%= @user.name %>
</h2>

<p>Categories:</p>
	<ul>
	<% @categories.each do |category| %>
<li>		<%= link_to category.name, category %> </li>
	<% end %>
	</ul>
