<link rel="stylesheet" type="text/css" href="users.scss" >
<div id="navbar" >
History  |  Cart  |  <%= link_to "Profile", "#{current_user.id}/profile"%>   |   <%= link_to "Logout", logout_path %>
</div>
<h1> Welcome to our site! </h1>

<h2>
  Name: <%= @user.name %>
</h2>

<p>Category:</p>
<%= collection_select :item, :category_id, Category.all, :id, :name %>
<%= submit_tag "Search" %>

<p>Item:</p>
<%= form_tag item_path, :method => 'get' do  %>
  <%=  select_tag :id, options_for_select(Item.all.collect{ |c| [c.name, c.id] })  %>
<%= submit_tag "Get Items", :name => nil %>
<% end %>
