<style>
  body {
    background-color: linen;
  }

  navbar {
    color: magenta;
    margin-right: 100px;
    margin-top: 20px;
  }

  h1 {
    color: maroon;
    margin-left: 512px;
    margin-right: 512px;
  }

  h2 {
    color: indigo;
    margin-right: 200px;
  }

  p {
    font-family: "Helvetica";
    color: blue;
    margin-right: 200px;
  }
</style>
<div id="navbar" >
History  |  Cart  |  <%= link_to "Profile", "#{current_user.id}/profile"%>   |   <%= link_to "Logout", logout_path %>
</div>
<h1> Welcome to our site! </h1>

<h2>
  Name: <%= @user.name %>
</h2>

<p>Category:</p>
<%= collection_select :item, :category_id, Category.all, :id, :name %>
<%= submit_tag "Search" %>

<p>Item:</p>
<%= form_tag item_path, :method => 'get' do  %>
  <%=  select_tag :id, options_for_select(Item.all.collect{ |c| [c.name, c.id] })  %>
<%= submit_tag "Get Items", :name => nil %>
<% end %>
